.dbItem {
    border: 1px solid gray;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.dbItem:hover {
    background: rgb(228, 248, 255);
}

.dbItem:hover > span,
.dbItem:hover > button {
    transform: scale(1.1);
}


.dbItem > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.dbItem > span {
    font-size: 26px;
}